@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #55b9f7;
  --primary-color-dark: #3480c8;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #317986;
  --extra-light: #edf8ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  margin-right: 8rem;
  font-weight: 900;
}
nav .logo a {
  transition: 0.3s;
  background: linear-gradient(45deg, #499eff, #ffcefd, #35bcff);
  background-clip: text;
  color: transparent;
  font-size: 2rem;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}
/* tại sao để nav .ul thì nó ra khác */
ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  right: 0;
}
ul li a {
  color: var(--primary-color);
  margin-left: 6rem;
}
.section_container {
  min-height: 100vh;

  background-color: var(--extra-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  place-items: center;
}
.content {
  margin-left: 6rem;
}
.welcome {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  background: linear-gradient(45deg, #ffbff1, #00a4e0, #35bcff);
  background-clip: text;
  color: transparent;
}
.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.title span {
  /* color: var(--primary-color-dark); */
  font-weight: 600;
  background: linear-gradient(45deg, #ffbff1, #74daff, #35bcff);
  background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}
.image {
  width: min(30rem, 90%);
  border-radius: 100%;
  justify-self: center; /* Canh giữa theo chiều ngang */
  align-self: center; /* Canh giữa theo chiều dọc */
}
.profile-container {
  display: flex;
  gap: 2 rem;
  justify-content: center; /* Canh giữa theo chiều dọc */
}
h2 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
  background: linear-gradient(45deg, #ffbff1, #00a4e0, #35bcff);
  background-clip: text;
  color: transparent;
  margin-left: 40%;
}
.item {
  background-color: #eefbff;
  border-radius: 10%;
  width: 25%;
  margin: 2rem;
  align-items: center; /* Canh giữa theo chiều ngang */
  justify-content: center; /* Canh giữa theo chiều dọc */
  text-align: center;
  padding: 2rem;
}
.item img {
  width: min(7rem, 90%);
  border-radius: 100%;
  justify-self: center; /* Canh giữa theo chiều ngang */
  align-self: center;
}
.description-detail {
  margin-top: 1rem;
  text-align: justify;
  color: #6390ba;
  font-weight: 100;
  font-size: 0.8rem;
}
.name {
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  background: linear-gradient(45deg, #67b8ff, #ffc8f6, #35bcff);
  background-clip: text;
  color: transparent;
}
.nickname {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(51, 132, 134);
}
